body{
  /*background-color: #2C8BAB;*/
  color: #bbb;
  font-family: fantasy;
  text-align: center;
}

#wrapper{
  background-size: cover;
}

h1{
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 250px;
  margin-bottom: 0px;
}

.time{
  font-size: 8vw;
}

.time #j-hours::after, .time #j-minutes::after{
  content: ":";
  padding-left: 20px;
}

#timebar{
  position: relative;
  height: 2px;
  background-color: transparent;
  width: 100%;
}
#bar{
  text-align: center;
  width: 1%;
  height: 100%;
  background-color: #FFF;
}


/*@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}*/
/*from https://www.gradient-animator.com/*/
